In [1]:
import pandas as pd
import numpy as np
from datetime import date

# load data from csv

In [2]:
dt = pd.read_csv('./vgsales.csv')
dt.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

# Which company is the most common video game publisher?

In [32]:
publisher_counts = pd.DataFrame(dt.groupby('Publisher')['Publisher'].count())
publisher_counts.sort_values('Publisher', ascending=False).head(1)

                 Publisher
Publisher
Electronic Arts       1351

# Whatâ€™s the most common platform?

In [33]:
platform_counts = pd.DataFrame(dt.groupby('Platform')['Platform'].count())
platform_counts.sort_values('Platform', ascending=False).head(1)

          Platform
Platform
DS            2163

# What about the most common genre?

In [34]:
genre_counts = pd.DataFrame(dt.groupby('Genre')['Genre'].count())
genre_counts.sort_values('Genre', ascending=False).head(1)

        Genre
Genre
Action   3316

# What are the top 20 highest grossing games?

In [56]:
game_gross = dt.sort_values('Global_Sales', ascending=False)
pd.DataFrame(game_gross['Name']).head(20)

                                            Name
0                                     Wii Sports
1                              Super Mario Bros.
2                                 Mario Kart Wii
3                              Wii Sports Resort
4                       Pokemon Red/Pokemon Blue
5                                         Tetris
6                          New Super Mario Bros.
7                                       Wii Play
8                      New Super Mario Bros. Wii
9                                      Duck Hunt
10                                    Nintendogs
11                                 Mario Kart DS
12                   Pokemon Gold/Pokemon Silver
13                                       Wii Fit
14                                  Wii Fit Plus
15                            Kinect Adventures!
16                            Grand Theft Auto V
17                 Grand Theft Auto: San Andreas
18                             Super Mario World
19  Brain Age: Train Your Brain in Minutes a Day

# For North American video game sales, whatâ€™s the median?

In [57]:
na_sales = pd.DataFrame(dt.sort_values('NA_Sales', ascending=False)['NA_Sales'])
na_sales.median()

NA_Sales    0.08
dtype: float64

In [58]:
# Provide a secondary output showing 'about' ten games surrounding the median sales output
na_sales_median = len(na_sales) // 2
na_sales[na_sales_median - 5:na_sales_median + 5]

       NA_Sales
10802      0.08
9569       0.08
8550       0.08
10799      0.08
9197       0.08
9192       0.08
10181      0.08
8802       0.08
8724       0.08
10793      0.08

# For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [83]:
(game_gross['NA_Sales'][0] - na_sales.mean()) / na_sales.std()

NA_Sales    50.478988
dtype: float64

# The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [95]:
platform_sales = dt.groupby('Platform')['Global_Sales']
pd.DataFrame(platform_sales.sum() / platform_sales.count()).sort_values('Global_Sales', ascending=False)

          Global_Sales
Platform
GB            2.606633
NES           2.561939
GEN           1.050370
SNES          0.837029
PS4           0.827679
X360          0.774672
2600          0.729925
PS3           0.720722
Wii           0.699404
N64           0.686144
XOne          0.662254
PS            0.610920
PS2           0.581046
WiiU          0.572448
3DS           0.486169
GBA           0.387470
DS            0.380254
GC            0.358561
XB            0.313422
SCD           0.311667
DC            0.307115
PC            0.269604
PSP           0.244254
WS            0.236667
SAT           0.194162
PSV           0.149952
NG            0.120000
TG16          0.080000
GG            0.040000
3DO           0.033333
PCFX          0.030000

# What is the highest EU sales year?

In [102]:
pd.DataFrame(dt.groupby('Year')['EU_Sales'].sum()).sort_values('EU_Sales', ascending=False).head(1)

        EU_Sales
Year
2009.0    191.59

# What is the highest JP sales year?

In [105]:
pd.DataFrame(dt.groupby('Year')['JP_Sales'].sum()).sort_values('JP_Sales', ascending=False).head(1)

        JP_Sales
Year
2006.0     73.73

# What is the highest US sales year?

In [107]:
pd.DataFrame(dt.groupby('Year')['NA_Sales'].sum()).sort_values('NA_Sales', ascending=False).head(1)

        NA_Sales
Year
2008.0    351.44